# 1 IC Data Wrangling - departments

### This script contains the following points
#### 01 Import Libraries
#### 02 Import Data
#### 03 First Look at Data
#### 04 Data Wrangling
#### 05 Export Data

# 01 Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Set a path

path = r'C:\Users\Tina\Desktop\CareerFoundry\Data Analytics Immersion\Instacart Basket Analysis'

In [3]:
# Import the "deps" file

deps = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

# 03 First Look at Data

In [4]:
# Shape of "ords"

deps.shape

(1, 22)

In [5]:
# First few rows of "ords"

deps.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [6]:
# Data types of "ords"

deps.dtypes

department_id    object
1                object
2                object
3                object
4                object
5                object
6                object
7                object
8                object
9                object
10               object
11               object
12               object
13               object
14               object
15               object
16               object
17               object
18               object
19               object
20               object
21               object
dtype: object

# 04 Data Wrangling

### 01 Transpose Dataframe

In [7]:
# Transpose "deps" into a long format

deps = deps.T

In [8]:
deps

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [9]:
# Create a new index

deps.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [11]:
# Create a new header

new_header = deps.iloc[0]

In [16]:
# Keep the dataframe without the first row

deps = deps[1:]

In [17]:
deps

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [18]:
# Add the new header

deps.columns = new_header

In [19]:
deps

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

### 02 Drop Columns

No columns are being dropped in this dataframe.

### 03  Rename Columns

No columns are being renamed in this dataframe.

### 04 Change Data Types

No data types are being changed for this dataframe.

# 05 Export Data

In [23]:
# Export the "deps" dataframe

deps.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wrangled_departments.csv'))